* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

main {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  width: 90%;
  height: 90%;
  padding: 2rem;
  background-color: rgb(222, 219, 225);
  border-radius: 8px;
  box-shadow: 3px 2px 2px gray;
}

.form-section {
  width: 100%;
  height: 50%;
  margin: 0.5rem auto;
}

#face-container{
  padding: 1% 0;
}

#form {
  padding-top: 2%;
  border: 1px solid rgb(56, 82, 96);
  border-bottom: 0;
  border-radius: 25px 25px 0 0;
  width: 50%;
}

.form-controller {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0.5rem;
  align-items: center;
}

#face {
  border: 1px solid rgb(56, 82, 96);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}


.eye {
  width: 30%;
  height: 20%;
  margin-top: 30%;
  position: relative;
  border-radius: 30%;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9);
}

.smile {
  width: 50%;
  height: 1%;
  background-color: transparent;
  transition: all 1.4s linear;
  opacity: 0;
}


.smile.open {
  width: 65%;
  height: 12%;
  transform:matrix(10px, 10px);
  background-color: rgba(202, 102, 102, 0.9);
  border-radius: 0 0 100px 100px;
  border-top: 3px solid red;
  opacity: 0.6;
}

.smile.close {
opacity: 0;
height: 1%;
background-color: transparent;
}


.cornea {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 45%;
  height: 25%;
  border-radius: 4px;
  background-color: rgb(171, 65, 65);
}

.eyelid {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:transparent;
  z-index: 2;
  transition: background-color 1.3s ease-in, height 0.7s linear;
}

.eyelid.open {
height: 0;
background-color: transparent;
}

.eyelid.close {
height: 100%;
background-color: rgba(0, 0, 0, 0.7);
}

input {
  padding: 1% 2%;
  border-radius: 4px;
  border: 0;
  box-shadow: 1px 1px 3px ;
}